<div style="text-align: left; background-color: #eee; border-radius: 5px; margin: 15px; padding: 15px; color: #000;">
  <!-- <div style="background-color: #eee; width: 100%; margin-bottom: 5px; padding: 5px; color: black;"> -->
    <h4><%= comment.account.username %> says:</h4>
    <p><%= comment.comment %></p>
    <small><%= comment.created_at %></small>
  <!-- </div> -->
</div>
