<div style="background-color: #eee; width: 100%; margin-bottom: 5px; padding: 5px; color: orange;">
  <h4><%= comment.account.username %> says:</h4>
  <p><%= comment.comment %></p>
  <small><%= comment.created_at %></small>
</div>
