<div class="col-md-3" id="comment">
  <!-- <div style="background-color: #eee; width: 100%; margin-bottom: 5px; padding: 5px; color: black;"> -->
  <h4><%= comment.account.username %> says:</h4>
  <p><%= comment.comment %></p>
  <small><%= comment.created_at %></small>
  <!-- </div> -->
</div>
