<!-- <div style="width: 33%; margin: 0; padding: 0; float: left;"> -->
  <!-- <div style="margin: 5px; padding: 5px; height: 200px; background-color: #eee;"> -->
<div class="col-md-3" style="margin:0; padding:0;">
  <div style="margin: 2px; padding: 5px; height: 200px; background-color: #eee;">
    <%= link_to event.name, event %><br />
    <%= event.event_date %>
  </div>
</div>
