// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
  margin-top: 5%;
}

#details{
  color: white;
}

#widen-2{
  width: 8em;
}

#comment{
  background-color: #eee;
  width: 20%;
  margin: 5px;
  padding: 5px;
  color: black;
}

h2#title{
  text-align: center;
}
