// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.remove-margin{
  margin-top: 0;
}

#map {
 height: 400px;
 width: 100%;
}

#widen{
  width: 15em;
}

h1{
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

#title{
  color: #3E9AB2;
}

div[class ^= "col"]{
  text-align: center;
}

.push-down{
  margin-top: 5em;
}

.separate{
  margin-top: 8em;
}

#card-background{
  margin: 2px;
  height: 200px;
  text-align: center;
  background: rgba(255, 255, 255, .4);
  border-radius: 5px;
}

#color-fade{
   background-color: rgba(62, 154, 158, 0.4);
   display: inline-block;
   height: 100%;
   width: 100%;
   border-radius: 5px;
}

#font-color-hover-fix{
  color: white;
}

#font-color-hover-fix:hover{
  color: black;
}

.edit-location{
  width: 50%;
  // align: left;
  margin-left: 100px;
  margin-right: 100px;
}

.edit-location td{

}

.new-location {
  width: 50%;
  align: center;
  // margin-left: 100px;
  // margin-right: 100px;
}
