<div class="col-md-3" style="margin:0; padding:0;">
  <div style="margin: 2px; padding: 5px; height: 200px; background-color: #eee;">
    <%= link_to location.name, location %><br />
    <%= location.formatted_address %>
    <%= link_to "Edit location", edit_location_path(location) %>
  </div>
</div>
