<div class="col-md-3">
  <div class="<%= (Date.today+upcoming[0].to_i)==Date.today ? 'present-events-today' : 'present-events' %>">
  <h3><%=  (Date.today+upcoming[0].to_i).strftime("%a, %b, %e") %></h3>
  <% if !upcoming[1].empty? %>
    <% upcoming[1].each do |event| %>
      <% if current_user==event.creator %>
      <strong>Hosting: </strong>
      <% else %>
      <strong>Attending: </strong>
      <% end %>
      <%= link_to event.name, event %>
    <% end %>
  <% else %>
    <em>You have no events</em>
  <% end %>
  </div>
</div>
