<h1>Welcome, <%= @account.username %></h1>
<h2>Events this week:</h2>

<div class="row" style="min-height: 100px;">

  <%= render partial: 'accounts/upcoming', collection: present_event(current_user) %>
</div>
